<!doctype html>
<html lang="en" data-bs-theme="dark"></html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>CST 205 Playlist</title>
      {{ bootstrap.load_css() }}
  </head>
<body>
    <div class="container mb-4">
      <img src="{{ url_for('static', filename='woof.jpg') }}" class="img-fluid w-50">
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="card-title">Add to our playlist!</h2>
          <form method="POST" action="/">
            {{ form.csrf_token }}
            {{ form.song_title.label }} 
            {{ form.song_title(size=32) }}
            <input type="submit" value="Submit">
          </form>
            <h2 class="card-title">Add your genre</h2>
            <form method="POST" action="/">
            {{ formg.csrf_token }}
            {{ formg.genre_fill.label }} 
            {{ formg.genre_fill(size=32) }}
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
</body>
</html>