<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Playlist Results</title>
      {{ bootstrap.load_css() }}
  </head>
<body>
    <div class="container mb-4">  
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="card-title">Playlist (so far)</h2>
          <ul class="list-group">
            {% for item in playlist %}
              <li class="list-group-item">{{ item.song }}</li>
            {% endfor %}
          </ul>
          <h3 class="card-title">Genres (so far)</h3>
          <ul class="list-genre"> 
            {% for item in genre %}
            <li class="list-group-item">{{ item.genre }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="card-footer">
          <a href="{{ url_for('index') }}" class="card-link">Take me home</a>
        </div>
      </div>
    </div>
</body>
</html>